name: deep_local_storage_example
description: "Demonstrates how to use the deep_local_storage plugin."

publish_to: "none"

version: 1.0.0

environment:
  sdk: ^3.4.0
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter

  deep_local_storage:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
